<template>
    <v-row>
        <v-col v-if="!productList.length" cols="12">
            <v-card
                    color="background darken-1"
                    style="margin-top:11px"
                    elevation="0"
                    :light="color !== 1"
                >
                <v-card-subtitle class="text-center">{{ txt.emptyItems }}</v-card-subtitle>
            </v-card>
        </v-col>
        <v-col cols="12">
            <v-list
                    color="transparent"
                    :two-line="showButtons"
                    :light="color !== 1"
                >
                <v-virtual-scroll
                    :items="productList"
                    :height="windowHeight - wHeight"
                    :item-height="itemHeight"
                >
                <template v-slot:default="{ item }">
                    <v-list-item v-if="showButtons">
                        <v-list-item-avatar>
                            <v-btn
                                    @click="removeProduct(item.name)"
                                    class="red" dark fab x-small depressed
                                >
                                <v-delete-icon :size="20" />
                            </v-btn>
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title>{{ item.name }}</v-list-item-title>
                            <v-list-item-subtitle class="text-left">{{ moneyFormat(item.price) }}</v-list-item-subtitle>
                        </v-list-item-content>
                        <v-list-item-action>
                            <v-btn
                                    @click="editProduct(item)"
                                    class="indigo" dark fab x-small depressed
                                >
                                <v-pencil-icon :size="20" />
                            </v-btn>
                        </v-list-item-action>
                    </v-list-item>
                    <v-list-item
                            v-else
                            @click="$store.commit('addSaleProducts', item)"
                        >
                        <v-list-item-avatar>
                            <v-plus-icon :size="17" class="primary--text" />
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title v-text="item.name" />
                        </v-list-item-content>
                        <v-list-item-action v-text="moneyFormat(item.price)" />
                    </v-list-item>
                    <v-divider />
                </template>
            </v-virtual-scroll>
            </v-list>
        </v-col>
    </v-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import AppMixin from '../mixins/AppMixin'

export default {
    props: {
        showButtons: {
            type: Boolean,
            default: true
        },
        itemHeight: {
            type: String,
            default: "75"
        },
        wHeight: {
            type: Number,
            default: 50
        },
        type: String
    },
    data() {
        return {
            items: []
        }
    },
    mixins: [AppMixin],
    methods: {
        ...mapActions([
            'getProductList'
        ]),
        fillList() {
            this.getProductList(this.type)
        },
        editProduct(product) {
            this.bus.$emit('product-edit', [this.type, product])
        },
        removeProduct(id) {
            let params = [this.type, id, this.txt[`${this.type}Del`]];
            this.$store.dispatch('setConfirm', [this.txt.rep, 'removeProductList', params]);
        },
    },
    computed: {
        ...mapGetters([
            'foodList', 'beverageList', 'productList', 'sale'
        ])
    },
    mounted() {
        this.bus.$on(`${this.type}-save`, this.fillList)
        this.fillList()
    }
}
</script>