<template>
    <v-dialog
            v-model="dialog"
            max-width="600px"
            persistent
        >
        <v-card
                color="secondary"
            >
            <v-card-title>
                <span class="headline">KELLNER</span>
                <v-spacer/>
                <span class="headline">{{ setType() }}</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-form ref="form">
                        <v-row>
                            <v-col md="6" cols="12">
                                <span>{{ txt.name }} *</span>
                                <v-card
                                        @click="setPrompt2([txt.name, product.name, 'set-product-name'])"
                                        color="secondary lighten-1"
                                        link
                                    ><v-card-text style="min-height:54px"><h3>{{ product.name }}</h3></v-card-text>
                                </v-card>
                            </v-col>
                            <v-col md="6" cols="12">
                                <span>{{ txt.price }} *</span>
                                <v-card
                                        @click="setPrompt2([txt.price, product.price, 'set-product-price'])"
                                        color="secondary lighten-1"
                                        link
                                    ><v-card-text><h3>{{ moneyFormat(product.price) }}</h3></v-card-text>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                        color="secondary lighten-1"
                        @click="close"
                    >
                    <v-cancel-icon />
                    <span style="margin-left:5px">{{ txt.btn4 }}</span>
                </v-btn>
                <v-btn
                        :disabled="!product.name.length"
                        color="primary"
                        @click="save"
                    >
                    <template v-if="editFlag">
                        <v-reload-icon /> <span style="margin-left:5px">{{ txt.btnOrder2 }}</span>
                    </template>
                    <template v-else>
                        <v-save-icon /> <span style="margin-left:5px">{{ txt.btn5 }}</span>
                    </template>
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import AppMixin from '../mixins/AppMixin'

export default {
    mixins: [AppMixin],
    data: () => ({
        dialog: false,
        editFlag: false,
        type: '',
        product: {
            name: '',
            price: 0
        },
        oldName: ''
    }),
    methods: {
        ...mapActions([
            'addToProductList', 'updateProductList', 'setPrompt2'
        ]),
        setPrice(val) {
            this.product.price = val
        },
        save() {
            let params;
            if (this.editFlag)
                params = [this.type, this.product, this.oldName, this.txt[`${this.type}Upd`]],
                this.updateProductList(params);
            else
                params = [this.type, this.product, this.txt[`${this.type}Sav`]],
                this.addToProductList(params),
                this.$nextTick(() => {
                    this.close()
                });
        },
        edit(params) {
            this.dialog = true
            this.$nextTick(() => {
                let [type, product] = params;
                this.oldName = product.name;
                this.product = { ...product };
                this.type = type;
                this.editFlag = true;
            })
        },
        open(type) {
            this.dialog = true
            this.type = type
        },
        close() {
            this.product = {
                name: '',
                price: 0
            }
            this.$nextTick(() => {
                this.editFlag = false
                this.dialog = false
            })
        },
        setProductName(name) {
            this.product.name = name
        },
        setProductPrice(price) {
            this.product.price = this.castFloat(price)
        },
        setType() {
            switch (this.type) {
                case 'beverage': return this.txt.drink;
                case 'pack': return this.txt.pack;
                case 'promo': return this.txt.promo;
                default: return this.txt.food;
            }
        }
    },
    computed: {
        ...mapGetters([
            'catalogList'
        ])
    },
    mounted() {
        this.bus.$on('open-product-form', this.open)
        this.bus.$on('set-product-price', this.setProductPrice)
        this.bus.$on('set-product-name', this.setProductName)
        this.bus.$on('product-update', this.close)
        this.bus.$on('product-edit', this.edit)
    }
}
</script>