<template>
  <fragment>
    <v-row>
      <v-col md="5" sm="2" cols="12">
        <v-row class="icon-card">
          <v-col md="6" sm="10" cols="3">
            <v-card
                :color="type !== 'food' ? 'primary' : 'secondary'"
                dark
              >
              <v-img
                  @click="openProductList('food')"
                  src="../assets/food.png"
                />
                <v-btn
                    v-if="type == 'food'"
                    @click="openProductForm()"
                    class="primary" :color="color === 1 ? 'white' : 'accent'"
                    fab icon small
                  >
                  <v-plus-box-icon :size="35" />
                </v-btn>
            </v-card>
          </v-col>
          <v-col md="6" sm="10" cols="3">
            <v-card :color="type !== 'beverage' ? 'primary' : 'secondary'" dark>
              <v-img
                  @click="openProductList('beverage')"
                  src="../assets/beverage.png"
                />
                <v-btn
                    v-if="type == 'beverage'"
                    @click="openProductForm()"
                    class="primary" :color="color === 1 ? 'white' : 'accent'"
                    fab icon small
                  >
                  <v-plus-box-icon :size="35" />
                </v-btn>
            </v-card>
          </v-col>
          <v-col md="6" sm="10" cols="3">
            <v-card :color="type !== 'pack' ? 'primary' : 'secondary'" dark>
              <v-img
                  @click="openProductList('pack')"
                  src="../assets/pack.png"
                />
                <v-btn
                    v-if="type == 'pack'"
                    @click="openProductForm()"
                    class="primary" :color="color === 1 ? 'white' : 'accent'"
                    fab icon small
                  >
                  <v-plus-box-icon :size="35" />
                </v-btn>
            </v-card>
          </v-col>
          <v-col md="6" sm="10" cols="3">
            <v-card :color="type !== 'promo' ? 'primary' : 'secondary'" dark>
              <v-img
                  @click="openProductList('promo')"
                  src="../assets/promotion.png"
                />
                <v-btn
                    v-if="type == 'promo'"
                    @click="openProductForm()"
                    class="primary" :color="color === 1 ? 'white' : 'accent'"
                    fab icon small
                  >
                  <v-plus-box-icon :size="35" />
                </v-btn>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <v-col md="7" sm="10" cols="12" class="list-padding">
        <v-product-list
          :type="type"
          item-height="80"
          :w-height="setListHeight(windowHeight, windowWidth)"
          :key="key"
        />
      </v-col>
    </v-row>
    <v-product-form ref="productForm" />
  </fragment>
</template>

<script>
  import AppMixin from '../components/mixins/AppMixin'
  import ProductForm from '../components/catalog/ProductForm'

  export default {
    name: 'Catalog',

    components: {
      'v-product-form': ProductForm
    },

    mixins: [AppMixin],

    data: () => ({
      type: 'food',
      key: 1
    }),

    methods: {
        openProductList(type) {
            this.type = type;
            ++this.key;
        },
        openProductForm() {
            this.bus.$emit('open-product-form', this.type)
        },
        setListHeight(h, w) {
            /** Portrait min */
            if (h < 641 && w < 361)
                return 215
            /** Landscape min */
            if (h < 361 && w < 641)
                return 38
            /** Portrait 800x600 */
            if (h < 801 && h > 640 && w < 601)
                return 135
            /** Landscape 800x600 */
            if (h < 601 && w > 599 && w < 801)
                return 128
            /** Portrait iPad */
            if (h > 799 && h < 1025 && w > 599 && w < 769)
                return 130
            /** Ladscape iPad */
            if (h > 599 && h < 769 && w > 799 && w < 1025)
                return 130
            /** Portrait 1280x600 */
            if (h > 1024)
                return 130
            /** Landscape 1280x600 */
            if (w > 1024)
                return 130
        }
    }
  }
</script>

<style>
.icon-card button {
  bottom: -10px;
  position: absolute;
  right: -10px;
}
.v-card__title > strong:last-child,
.v-card__subtitle > strong:last-child {
  position: absolute;
  right: 10px;
}
.v-card__subtitle {
  text-align: left;
  font-size: 1em;
}
.list-padding {
  padding: 0 12px;
}
</style>
<style scoped>
.material-design-icon__svg {
  margin-top: 3px;
}
</style>