<template>
    <v-row>
        <v-col lg="4" md="5" cols="12" class="picker">
            <v-date-picker
                v-model="date"
                :max="today"
                color="primary"
                :locale="settings.lang == 'es' ? 'es-mx' : 'en-us'"
                full-width no-title scrollable
            />
        </v-col>
        <v-col lg="8" md="7" cols="12">
            <v-row class="totals">
                <v-col sm="6" cols="12">
                    <v-row>
                        <v-col cols="7" class="background darken-1 primary--text">
                            <h4>{{ txt.customers }}</h4>
                        </v-col>
                        <v-col cols="5" :class="'secondary ' + (color !== 1 ? 'accent--text' : 'white--text')">
                            <h2>{{ totalsSalesFinished.customers }}</h2>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col sm="6" cols="12">
                    <v-row>
                        <v-col cols="7" class="background darken-1 primary--text">
                            <h4>{{ txt.totalDay }}</h4>
                        </v-col>
                        <v-col cols="5" :class="'secondary ' + (color !== 1 ? 'accent--text' : 'white--text')">
                            <h2>{{ moneyFormat(totalsSalesFinished.total) }}</h2>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col sm="6" cols="12">
                    <v-row>
                        <v-col cols="7" class="background darken-1 primary--text">
                            <h4>{{ txt.tipDay }}</h4>
                        </v-col>
                        <v-col cols="5" :class="'secondary ' + (color !== 1 ? 'accent--text' : 'white--text')">
                            <h2>{{ moneyFormat(totalsSalesFinished.tip) }}</h2>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col sm="6" cols="12">
                    <v-row>
                        <v-col cols="7" class="background darken-1 primary--text">
                            <h4>{{ txt.totalTipDay }}</h4>
                        </v-col>
                        <v-col cols="5" :class="'secondary ' + (color !== 1 ? 'accent--text' : 'white--text')">
                            <h2>{{ moneyFormat(totalsSalesFinished.totalTip) }}</h2>
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
        </v-col>
        <v-col cols="12">
            <h3 class="text-right primary--text">{{ dateFormat(dateSales) }}</h3>
            <v-data-table
                    :headers="tableHeader"
                    :items="listSalesFinished"
                    :items-per-page="bigScreen() ? 8 : 5"
                    :locale="settings.lang == 'es' ? 'es-mx' : 'en-us'"
                    class="primary" dark
                >
                <template v-slot:[`item.tot`]="{ item }">
                    {{ moneyFormat(item.tot) }}
                </template>
                <template v-slot:[`item.tip`]="{ item }">
                    {{ moneyFormat(item.tip) }}
                </template>
                <template v-slot:[`item.totalTip`]="{ item }">
                    {{ moneyFormat(item.tot + item.tip) }}
                </template>
            </v-data-table>
        </v-col>
    </v-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import AppMixin from '../components/mixins/AppMixin'

export default {
    mixins: [AppMixin],

    data: () => ({
        dateSales: null,
        tableHeader: [{
            text: 'Nombre', value: 'nam'
        },{
            text: 'Total', value: 'tot', align: 'end'
        },{
            text: 'Propina', value: 'tip', align: 'end'
        },{
            text: 'Total/Propina', value: 'totalTip', align: 'end'
        }],
    }),

    methods: {
        ...mapActions([
            'getSalesFinishedByDate'
        ]),
        setCardHeight(h) {
            /** Portrait max */
            if (h > 1023)
                return h - 130
        }
    },

    computed: {
        ...mapGetters([
            'settings', 'listSalesFinished',
            'totalsSalesFinished'
        ]),
        date: {
            get() { return this.dateSales },
            set(val) {
                this.dateSales = val;
                if (val !== null)
                    this.getSalesFinishedByDate(val);
            }
        }
    },

    mounted() {
        this.date = this.today;
        this.tableHeader[0].text = this.txt.name;
        this.tableHeader[1].text = this.txt.total;
        this.tableHeader[2].text = this.txt.tip;
        this.tableHeader[3].text = this.txt.totalTip;
    }
}
</script>

<style>
.picker > .theme--light.v-card,
.picker .v-picker__body {
    background-color: transparent !important;
    margin-top: 0 !important;
}
.totals .row {
    margin: 1px;
}
.totals .row > div {
    height: 100px;
    line-height: 70px
}
</style>