<template>
    <v-row justify="center">
        <v-col cols="12" class="text-center">
            <h1 class="primary--text">KELLNER</h1>
        </v-col>
        <v-col cols="12">
            <v-list
                    color="transparent"
                    :light="color !== 1"
                    two-line
                >

                <v-list-item to="/ventas">
                    <v-list-item-avatar>
                        <v-btn class="primary" fab>
                            <v-cash-icon :size="25" />
                        </v-btn>
                    </v-list-item-avatar>
                    <v-list-item-content>
                        <v-list-item-title class="primary--text">
                            <strong>{{ txt.btn1 }}</strong>
                        </v-list-item-title>
                    </v-list-item-content>
                    <v-list-item-action>
                        <v-send-icon class="primary--text" />
                    </v-list-item-action>
                </v-list-item>

                <v-divider />

                <v-list-item to="/catalogo">
                    <v-list-item-avatar>
                        <v-btn class="primary" fab>
                            <v-file-cabinet-icon :size="25" />
                        </v-btn>
                    </v-list-item-avatar>
                    <v-list-item-content>
                        <v-list-item-title class="primary--text">
                            <strong>{{ txt.btn2 }}</strong>
                        </v-list-item-title>
                    </v-list-item-content>
                    <v-list-item-action>
                        <v-send-icon class="primary--text" />
                    </v-list-item-action>
                </v-list-item>

                <v-divider />

                <v-list-item to="/historia">
                    <v-list-item-avatar>
                        <v-btn class="primary" fab>
                            <v-calendar-icon :size="25" />
                        </v-btn>
                    </v-list-item-avatar>
                    <v-list-item-content>
                        <v-list-item-title class="primary--text">
                            <strong>{{ txt.btnH }}</strong>
                        </v-list-item-title>
                    </v-list-item-content>
                    <v-list-item-action>
                        <v-send-icon class="primary--text" />
                    </v-list-item-action>
                </v-list-item>

                <v-divider />

                <v-list-item to="/ajustes">
                    <v-list-item-avatar>
                        <v-btn class="primary" fab>
                            <v-cog-icon :size="25" />
                        </v-btn>
                    </v-list-item-avatar>
                    <v-list-item-content>
                        <v-list-item-title class="primary--text">
                            <strong>{{ txt.btn8 }}</strong>
                        </v-list-item-title>
                    </v-list-item-content>
                    <v-list-item-action>
                        <v-send-icon class="primary--text" />
                    </v-list-item-action>
                </v-list-item>

                <v-divider />

            </v-list>        
        </v-col>
    </v-row>
</template>

<script>
import AppMixin from '../components/mixins/AppMixin'

export default {
    name: 'Home',
    mixins: [AppMixin]
}
</script>

<style scoped>
.v-btn__content > .material-design-icon {
    margin-top: 4px;
}
</style>