<template>
    <v-row justify="center" align="center">
        <v-col md="6" cols="12" :order="bigScreen() ? 'first' : 'last'">
            <component :is="component" />
        </v-col>

        <v-col
                v-if="component2.length"
                :order="bigScreen() ? 'last' : 'first'"
                md="6" cols="12" class="white--text"
            >
            <component
                v-if="component2.length"
                :is="component2"
            />
        </v-col>
    </v-row>
</template>

<script>
import AppMixin from '../components/mixins/AppMixin'
import SalesCatalog from '../components/sales/SalesCatalog'
import Command from '../components/sales/Command'
import Waiting from '../components/sales/Waiting'

export default {
    name: 'sales',

    components: {
        'sales-catalog': SalesCatalog,
        'command': Command,
        'waiting': Waiting
    },

    mixins: [AppMixin],

    data: () => ({
        component: 'waiting',
        component2: ''
    }),

    methods: {
        openWindows(component, component2) {
            this.openWindow1(component)
            this.openWindow2(component2)
        },
        openWindow1(component) {
            this.component = component
        },
        openWindow2(component) {
            this.component2 = component
        },
        goToWaiting() {
            this.$store.dispatch('getFinished');
            this.openWindows('waiting', '');
        },
        goToNewOrder() {
            this.openWindows('sales-catalog', 'command')
            this.$nextTick(() => {
                this.bus.$emit('set-new', true);
                this.$store.dispatch('cleanSale');
            })
        },
        setImgHeight(h, w) {
            if (h > 499 && h < 601 && w > 1023)
                return h - 123
        }
    },

    mounted() {
        this.bus.$on('pending-save', this.goToWaiting)
        this.bus.$on('finished-save', this.goToWaiting)
        this.bus.$on('open-window-1', this.openWindow1)
        this.bus.$on('open-window', this.openWindow2)
        this.bus.$on('new-order', this.goToNewOrder)
    }
}
</script>