<template>
    <v-row>
        <v-col cols="12">
            <v-card
                    :color="$vuetify.theme.themes.dark.background"
                    :light="color !== 1"
                    elevation="0"
                >
                <v-card-title>{{ txt.btn8 }}</v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col sm="3" cols="6">
                            <v-radio-group
                                    v-model="settings.lang"
                                    @change="changeLanguage"
                                >
                                <template v-slot:label>
                                    <div>{{ txt.lang }}</div>
                                </template>
                                <v-radio label="Español" value="es"/>
                                <v-radio label="English" value="en"/>
                            </v-radio-group>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12">
                            <h3 class="primary--text">{{ txt.schema }}</h3>
                        </v-col>
                        <v-col sm="3" cols="6">
                            <v-card class="one">
                                <v-card-title>.</v-card-title>
                                <v-card-text>
                                    <v-btn
                                        @click="changeColorScheme(1)"
                                        v-text="txt.btnChoose"
                                        dark small depressed
                                    />
                                </v-card-text>
                            </v-card>
                        </v-col>
                        <v-col sm="3" cols="6">
                            <v-card class="two">
                                <v-card-title>.</v-card-title>
                                <v-card-text>
                                    <v-btn
                                        @click="changeColorScheme(2)"
                                        v-text="txt.btnChoose"
                                        dark small depressed
                                    />
                                </v-card-text>
                            </v-card>
                        </v-col>
                        <v-col sm="3" cols="6">
                            <v-card class="thr">
                                <v-card-title>.</v-card-title>
                                <v-card-text>
                                    <v-btn
                                        @click="changeColorScheme(3)"
                                        v-text="txt.btnChoose"
                                        dark small depressed
                                    />
                                </v-card-text>
                            </v-card>
                        </v-col>
                        <v-col sm="3" cols="6">
                            <v-card class="fou">
                                <v-card-title>.</v-card-title>
                                <v-card-text>
                                    <v-btn
                                        @click="changeColorScheme(4)"
                                        v-text="txt.btnChoose"
                                        dark small depressed
                                    />
                                </v-card-text>
                            </v-card>
                        </v-col>
                        <v-col cols="12" class="secondary white--text">
                            &reg; 2021 - Código Mamalón
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import AppMixin from '../components/mixins/AppMixin'

export default {
    mixins: [AppMixin],

    methods: {
        ...mapActions([
            'changeColorScheme', 'changeLanguage'
        ])
    },

    computed: {
        ...mapGetters([
            'settings'
        ])
    }
}
</script>

<style scoped>
.one > .v-card__text > button { background-color: #34a7a7; margin-top: 15px; }
.one > .v-card__title { background-color: #1f5049; color: #1f5049; }
.one > .v-card__text { background-color: #383838; }

.two > .v-card__text > button { background-color: #286d8e; margin-top: 15px; }
.two > .v-card__title { background-color: #9c3b3b; color: #9c3b3b; }
.two > .v-card__text { background-color: #f0dfdf; }

.thr > .v-card__text > button { background-color: #ab3d89; margin-top: 15px; }
.thr > .v-card__title { background-color: #594f80; color: #594f80; }
.thr > .v-card__text { background-color: #dfdff0; }

.fou > .v-card__text > button { background-color: #673b0e; margin-top: 15px; }
.fou > .v-card__title { background-color: #2b2b2b; color: #2b2b2b; }
.fou > .v-card__text { background-color: #ffeeee; }
</style>