<template>
    <v-text-field
        type="text"
        :label="label"
        v-model="displayValue"
        @blur="isInputActive = false"
        @focus="isInputActive = true"
        :rules="[v => !!v || $store.getters.txt.req]"
        :readonly="readonly"
        filled
    />
</template>

<script>
export default {
    props: {
        value : Number,
        label : String,
        readonly : {
            type: Boolean,
            default: false
        }
    },
    data: () => ({
        isInputActive: false
    }),
    computed: {
        displayValue: {
            get() {
                // Verify that value is not null
                let val = this.value == null ? parseFloat(0) : this.value;

                // Show float value when input is focused
                if (this.isInputActive)
                    return val.toString()

                // Money format value when blur input
                else
                    return "$ " + val.toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
            },
            set(modifiedValue) {
                // Verify that value is numeric
                modifiedValue = isNaN(modifiedValue) || modifiedValue == null ? '0' : modifiedValue;

                // Remove all non numeric characters
                let newValue = parseFloat(modifiedValue.replace(/[^\d/.]/g, ""));

                // If value is not numeric, return 0
                if (isNaN(newValue))
                    newValue = 0;

                // Emit new float value
                this.$emit('input', newValue)
            }
        }
    }
}
</script>
