<template>
    <fragment>
        <v-app-bar
                color="secondary"
                dense dark app
            >
            <v-app-bar-nav-icon
                @click="toggleSideBar(true)"
            />
            <v-spacer/><span style="font-size:12px">{{ this.dateFormat(this.today) }}</span><v-spacer/>
            <v-toolbar-title>
                <v-btn
                    to="/"
                    text
                    >
                    <strong>KELLNER</strong>
                </v-btn>
            </v-toolbar-title>
        </v-app-bar>
    </fragment>
</template>

<script>
import { mapActions } from 'vuex'
import AppMixin from './mixins/AppMixin'

export default {
  mixins: [AppMixin],
  methods: {
      ...mapActions([
          'toggleSideBar'
      ])
  }
}
</script>