<template>
    <v-app :style="{background: $vuetify.theme.themes.dark.background}">
        
        <v-menu />

        <v-main>
            <v-container fill-height>
                <router-view />
            </v-container>
        </v-main>

        <v-footer color="secondary">
            <v-row style="margin: 0px;">
                <v-col cols="12" class="text-center" v-text="'2021'"/>
            </v-row>
        </v-footer>

        <v-navigation-drawer
                v-model="sideBarModel"
                color="primary"
                absolute temporary
            >
            <v-list-item>
                <v-list-item-content>
                    <v-list-item-title class="accent--text text-center" v-text="'KELLNER'" />
                </v-list-item-content>
            </v-list-item>

            <v-divider></v-divider>

            <v-list dense>
                <v-list-item to="/ventas" link>
                    <v-list-item-icon><v-cash-icon /></v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title v-text="txt.btn1" />
                    </v-list-item-content>
                </v-list-item>

                <v-list-item to="/catalogo" link>
                    <v-list-item-icon><v-file-cabinet-icon /></v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title v-text="txt.btn2" />
                    </v-list-item-content>
                </v-list-item>

                <v-list-item to="/historia" link>
                    <v-list-item-icon><v-calendar-icon /></v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title v-text="txt.btnH" />
                    </v-list-item-content>
                </v-list-item>

                <v-list-item to="/ajustes" link>
                    <v-list-item-icon><v-cog-icon /></v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title v-text="txt.btn8" />
                    </v-list-item-content>
                </v-list-item>

                <v-list-item @click="setConfirm(['¿Borrar todos los datos?', 'removeAllData', true])" link>
                    <v-list-item-icon><v-cog-icon /></v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title>Eliminar todo</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

    </v-app>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import AppMixin from './components/mixins/AppMixin'
import Menu from './components/Menu'
import Ads from './plugins/admob'

export default {
    components: {
        'v-menu': Menu
    },
    mixins: [AppMixin],
    methods: {
        ...mapActions([
            'getSettings', 'toggleSideBar', 'setConfirm'
        ])
    },
    computed: {
        ...mapGetters([
            'sideBar'
        ]),
        sideBarModel: {
            get() { return this.sideBar },
            set(val) { this.toggleSideBar(val) }
        }
    },
    mounted() {
        this.getSettings();
        Ads.showBanner('ca-app-pub-3940256099942544/6300978111', this.mediumScreen());
        /* Ads.showBanner('ca-app-pub-4671837906603582/1797169346', this.mediumScreen()); */
    }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.v-list-item .v-list-item__title {
  text-align: left;
}
@media (min-width: 1264px) {
    .container {
        max-width: 1872px;
    }
}
@media (min-width: 960px) and (max-width: 1263px) {
    .container {
        max-width: 1086px;
    }
}
</style>