<template>
    <fragment>
    <v-card
            class="command-card"
            :light="color !== 1"
            color="background darken-1"
            elevation="3"
        >
        <v-card-text>
            <v-form ref="form">
            <v-row>
                <v-col cols="12">
                    <v-card
                            @click="setPrompt([txt.nameClient, sale.name, 'setSaleName'])"
                            color="primary"
                            v-if="newOrder"
                            elevation="2"
                            dark
                        >
                        <v-card-text>
                            <h2><span
                                    v-if="!sale.name.length"
                                >{{ txt.name }} *
                            </span>
                            <span
                                    v-else
                                >{{ sale.name }}
                            </span></h2>
                        </v-card-text>
                    </v-card>
                    <template v-else>
                        <h2>{{ sale.name }}</h2>
                        <v-btn
                                v-if="!isEdit"
                                @click="closeCommand()"
                                class="corner"
                                color="secondary"
                                icon
                            ><v-close-box-icon />
                        </v-btn>
                    </template>
                </v-col>
                <v-col cols="12">
                    <v-list
                            color="background darken-1"
                            dense
                        >
                        <v-virtual-scroll
                                :items="sale.products"
                                :height="sale.products.length * 36"
                                :item-height="35"
                            >
                            <template v-slot:default="{ item }">
                                <v-list-item :key="item.name">
                                    <v-chip
                                            style="font-size: 1.3em; margin-right: 10px; accent--text"
                                            color="primary" small
                                        ><strong>{{ item.quantity }}</strong>
                                    </v-chip>
                                    <v-list-item-content>
                                        <h3 class="primary--text text-left">{{ item.name }}</h3>
                                    </v-list-item-content>
                                    <v-chip-group v-if="newOrder || isEdit">
                                        <v-btn
                                                @click="updateSaleNumProducts([item.name, 'subs'])"
                                                style="margin-right: 5px"
                                                color="red" icon
                                                small dark
                                            ><v-minus-box-icon :size="27" /></v-btn>
                                        <v-btn
                                                @click="updateSaleNumProducts([item.name, 'add'])"
                                                color="green" icon
                                                small dark
                                            ><v-plus-box-icon :size="27" /></v-btn>
                                    </v-chip-group>
                                </v-list-item>
                            </template>
                        </v-virtual-scroll>
                    </v-list>
                </v-col>
                <v-col
                        cols="12"
                        class="primary--text text-right"
                        style="font-size: 1.3em; padding: 0 12px;"
                    >
                    <strong>Total: {{ moneyFormat(sale.total) }}</strong>
                </v-col>
                <v-col
                        cols="12"
                        class="text-center"
                    >
                    <template v-if="newOrder || isEdit">
                        <v-btn
                                @click="bus.$emit('pending-save')"
                                style="margin-right: 10px"
                                color="secondary"
                                class="secondary"
                                fab small
                            ><v-arrow-left-icon />
                        </v-btn>
                        <v-btn
                                v-if="sale.products.length && sale.name.length"
                                @click="save"
                                color="primary"
                            >
                            <template v-if="isEdit">
                                <v-reload-icon /> <span style="margin-left:5px">{{ txt.btnOrder2 }}</span>
                            </template>
                            <template v-else>
                                <v-save-icon /> <span style="margin-left:5px">{{ txt.btnOrder }}</span>
                            </template>
                        </v-btn>
                    </template>
                    <v-btn
                            v-if="!newOrder && !isEdit"
                            @click="dialog = true"
                            style="margin-left: 10px"
                            color="grey darken-3" dark
                            depressed
                        ><v-cash-icon /> <span style="margin-left: 5px">{{ txt.charge }}</span>
                    </v-btn>
                    <v-btn
                            v-if="!newOrder && !isEdit"
                            @click="edit"
                            style="margin-left: 10px"
                            class="primary"
                            fab x-small depressed
                        ><v-pencil-icon :size="20" />
                    </v-btn>
                </v-col>
            </v-row>
            </v-form>
        </v-card-text>
    </v-card>
    <v-dialog
            v-model="dialog"
            max-width="600px"
            persistent
        >
        <v-card>
            <v-card-title></v-card-title>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col sm="5" cols="12">
                            <v-row>
                                <v-col cols="12">
                                    <span>{{ txt.received }}</span>
                                    <v-card
                                            @click="setPrompt([txt.received, sale.received, 'setSaleReceived'])"
                                            color="secondary lighten-1"
                                            link
                                        ><v-card-text style="min-height:54px"><h3>{{ moneyFormat(sale.received) }}</h3></v-card-text>
                                    </v-card>
                                </v-col>
                                <v-col cols="12">
                                    <span>{{ txt.tip }}</span>
                                    <v-card
                                            @click="setPrompt([txt.tip, sale.tip, 'setSaleTip'])"
                                            color="secondary lighten-1"
                                            link
                                        ><v-card-text style="min-height:54px"><h3>{{ moneyFormat(sale.tip) }}</h3></v-card-text>
                                    </v-card>
                                </v-col>
                            </v-row>
                        </v-col>
                        <v-col sm="7" cols="12">
                            <v-timeline>
                                <v-timeline-item color="primary" left>
                                    <h3>{{ txt.charge }}<br>{{ moneyFormat(sale.total) }}</h3>
                                </v-timeline-item>
                                <v-timeline-item color="secondary" right>
                                    <h3>{{ txt.change }}<br>{{ moneyFormat(sale.change) }}</h3>
                                </v-timeline-item>
                            </v-timeline>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                        color="secondary lighten-1"
                        @click="closeDialog"
                        small
                    >
                    {{ txt.btn6 }}
                </v-btn>
                <v-btn
                        color="primary"
                        @click="saveFinished"
                        small
                    >
                    {{ txt.btn3 }}
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
    </fragment>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex'
import AppMixin from '../mixins/AppMixin'

export default {
    name: 'command',

    mixins: [AppMixin],

    data: () => ({
        newOrder: true,
        dialog: false,
        isEdit: false
    }),

    methods: {
        ...mapMutations([
            'setSaleName', 'updateSaleNumProducts',
            'setSaleTip', 'setSaleReceived'
        ]),
        ...mapActions([
            'addToPending', 'moveToFinished',
            'updatePending', 'setPrompt',
            'cleanSale'
        ]),
        save() {
            if (this.isEdit)
                this.updatePending()
            else
                this.addToPending()
        },
        saveFinished() {
            this.moveToFinished()
            this.closeDialog()
        },
        setNew(isNew) {
            this.newOrder = isNew
        },
        closeCommand() {
            this.cleanSale();
            this.$nextTick(() => {
                this.bus.$emit('open-window', '')
            });
        },
        closeDialog() {
            this.setSaleTip(0)
            this.setSaleReceived(0)
            this.dialog = false
        },
        edit() {
            this.isEdit = true
            this.bus.$emit('open-window-1', 'sales-catalog')
        }
    },

    computed: {
        ...mapGetters([
            'sale', 'settings'
        ])
    },

    mounted() {
        this.bus.$on('set-new', this.setNew)
        this.isEdit = false
        this.setNew(true)
    }
}
</script>

<style scoped>
.command-card .v-card__text {
    padding: 8px;
}
.corner {
    position: absolute;
    right: 0px;
    top: 0px;
}
</style>