<template>
    <v-row class="icon-card">
        <v-col md="2" cols="12">
            <v-row justify="center" align="center">
                <v-col md="12" sm="2" cols="3">
                    <v-card :color="type !== 'food' ? 'primary' : 'secondary'" dark>
                        <v-img
                            @click="openProductList('food')"
                            src="@/assets/food.png"
                        />
                    </v-card>
                </v-col>
                <v-col md="12" sm="2" cols="3">
                    <v-card :color="type !== 'beverage' ? 'primary' : 'secondary'" dark>
                        <v-img
                            @click="openProductList('beverage')"
                            src="@/assets/beverage.png"
                        />
                    </v-card>
                </v-col>
                <v-col md="12" sm="2" cols="3">
                    <v-card :color="type !== 'pack' ? 'primary' : 'secondary'" dark>
                        <v-img
                            @click="openProductList('pack')"
                            src="@/assets/pack.png"
                        />
                    </v-card>
                </v-col>
                <v-col md="12" sm="2" cols="3">
                    <v-card :color="type !== 'promo' ? 'primary' : 'secondary'" dark>
                        <v-img
                            @click="openProductList('promo')"
                            src="@/assets/promotion.png"
                        />
                    </v-card>
                </v-col>
            </v-row>
        </v-col>
        <v-col md="10" sm="12" cols="12" class="list-padding">
            <v-product-list
                :type="type"
                :w-height="setListHeight(windowHeight, windowWidth)"
                :show-buttons="false"
                item-height="55"
                :key="key"
            />
        </v-col>
    </v-row>
</template>

<script>
import AppMixin from '../mixins/AppMixin'

export default {
    name: 'sales-catalog',

    mixins: [AppMixin],

    data: () => ({
        type: 'food',
        key: 1
    }),

    methods: {
      openProductList(type) {
        this.type = type;
        ++this.key;
      },
      setListHeight(h, w) {
            /** Portrait min */
            if (h < 641 && w < 361)
                return 235
            /** Landscape min */
            if (h < 361 && w < 641)
                return 0
            /** Portrait 800x600 */
            if (h < 801 && h > 640 && w < 601)
                return 440
            /** Landscape 800x600 */
            if (h < 601 && w > 599 && w < 801)
                return 240
            /** Portrait iPad */
            if (h > 799 && h < 1025 && w > 599 && w < 769)
                return 460
            /** Ladscape iPad */
            if (h > 599 && h < 769 && w > 799 && w < 1025)
                return 130
            /** Portrait max */
            if (h > 1023 && h < 1920 && w > 599)
                return 540
            /** Landscape max */
            if (h > 599 && w > 1023 && w < 1920)
                return 130
            /** Portrait HD */
            if (h > 1919)
                return 0
            /** Landscape HD */
            if (w > 1919)
                return 0
      }
    }
}
</script>

<style scoped>
.icon-card {
    min-height: 500px;
}
.icon-card img {
    margin-top: 5px;
    width: 100%;
}
</style>