<template>
    <v-card
            color="transparent"
            elevation="0"
            :light="color !== 1"
        >
        <v-card-title>
            <span :class="bigScreen() ? 'title' : 'title2'">{{ txt.hold }}</span>
            <v-btn
                    @click="bus.$emit('new-order')"
                    color="secondary"
                    depressed
                >
                <v-file-edit-icon :size="20" />
                <span style="margin-left:5px">{{ txt.btnNew }}</span>
            </v-btn>
        </v-card-title>
        <v-card-text>
            <v-row>
                <v-col cols="12">
                    <h3
                            style="position:absolute; left: 35%; top: 100px"
                            v-if="!salesPending.length"
                        >{{ txt.emptyOrders }}
                    </h3>
                    <v-list color="transparent">
                        <v-virtual-scroll
                                :items="salesPending"
                                :height="setWaitingHeight(windowHeight, windowWidth)"
                                :item-height="70"
                            >
                            <template v-slot:default="{ item }">
                                <v-list-item
                                        @click="viewCommand(item)"
                                    >
                                    <v-list-item-icon><v-circle-icon class="primary--text" /></v-list-item-icon>
                                    <v-list-item-content class="text-left">
                                        <strong class="primary--text">{{ item.name }}</strong>
                                    </v-list-item-content>
                                    <v-list-item-icon><v-send-icon class="primary--text" /></v-list-item-icon>
                                </v-list-item>
                                <v-divider />
                            </template>
                        </v-virtual-scroll>
                    </v-list>
                </v-col>
            </v-row>
        </v-card-text>
    </v-card>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex'
import AppMixin from '../mixins/AppMixin'

export default {
    name: 'waiting',

    mixins: [AppMixin],

    methods: {
        ...mapActions([
            'getPending'
        ]),
        ...mapMutations([
            'setSale'
        ]),
        fillPending() {
            if (!this.salesPending.length)
                this.getPending()
        },
        viewCommand(command) {
            this.bus.$emit('open-window', 'command')
            this.$nextTick(() => {
                this.bus.$emit('set-new', false)
                this.setSale(command)
            })
        },
        setWaitingHeight(h, w) {
            /** Portrait min */
            if (h < 641 && w < 361)
                return h - 218
            /** Landscape min */
            else if (h < 361 && w < 641)
                return h - 218
            /** Portrait 800x600 */
            if (h < 801 && h > 640 && w < 601)
                return h - 218
            /** Landscape 800x600 */
            else if (h < 601 && w > 599 && w < 801)
                return h - 218
            /** Portrait iPad */
            if (h > 799 && h < 1025 && w > 599 && w < 769)
                return h - 225
            /** Ladscape iPad */
            else if (h > 599 && h < 769 && w > 799 && w < 1025)
                return h - 250
            /** Portrait max */
            if (h > 1023 && w > 499)
                return h - 220
            /** Landscape max */
            else if (h > 499 && w > 1023)
                return h - 250
        }
    },

    computed: {
        ...mapGetters([
            'salesPending'
        ])
    },

    mounted() {
        this.fillPending()
    }
}
</script>

<style scoped>
.v-card__title button {
    position: absolute;
    right: 5px;
    top: 5px;
}
span.title {
    margin: 20px auto auto auto;
}
span.title2 {
    margin: -12px 0 0 -5px;
}
</style>